.App {
  text-align: center;
}

.cash {
  font-size: 25px;
  margin: 2rem;
}

.buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem;
}

button {
  width: 250px;
  height: 35px;
  background-color: rgb(148, 168, 189);
  border: 2px solid slategrey;
}
